@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --transition: all linear 0.3s;
  --animation: fadeIn 0.5s linear;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.chicle-regular {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
}

.home h1 {
  font-family: "Chicle", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: var(--transition);
}

li a {
  text-decoration: none;
  transition: text-decoration 0.3s linear,
    color 0.3s linear;
  animation: var(--animation);
  position: relative;
  font-weight: 600;
  display: inline-block;
}

li a:hover {
  /* text-decoration: underline; */
  color: #ba53ff;
}

/* Prevent layout shift using pseudo-element */
a::after {
  content: attr(data-text);
  content: attr(href);
  display: block;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.get-started, .get-started a{
  background-color: #07cf00;
  color: white;
  transition: var(--transition);
}

.get-started:hover {
  background-color: #00b418;
  opacity: 60%;
  cursor: pointer;
}

.what-we-do p {
  font-size: 1.125rem;
}



@media (max-width: 720px) {
  .menu {
  display: none;
}

.hamburger:hover .menu{
  display: flex;
}
}